<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Women Rider</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.nuhvin.womenrider</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	



	<key>NSContactsUsageDescription</key>
	<string>We need access to your contacts to allow you to add emergency contacts.</string>
	<key>NSCameraUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) to access your camera</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) to access your location</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) to access your location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) to access your location</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) to access your microphone</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>We need access to speech recognition to process your voice input.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) to access your photos</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>bluetooth-peripheral</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>



	<key>LSApplicationQueriesSchemes</key>
	<array>
	<string>tez</string>
	<string>phonepe</string>
	<string>paytmmp</string>
	<string>bhim</string>
	<string>amazonpay</string>
	<string>whatsapp</string>
	<string>airtel</string>
	<string>axisbank</string>
	<string>icicibank</string>
	<string>sbiyono</string>
	<string>cred</string>
	<string>navi</string>
	<string>mobikwik</string>
	<string>freecharge</string>
	<string>pockets</string>
	<string>kotak</string>
	<string>hdfcbank</string>
	<string>yesbank</string>
	<string>bob</string>
	<string>pnb</string>
	<string>canarabank</string>
	<string>unionbank</string>
	<string>idfcbank</string>
	<string>indusind</string>
	<string>federalbank</string>
	<string>equitas</string>
	<string>payzapp</string>
	<string>jiomoney</string>
	<string>fampay</string>
	<string>slice</string>
	<string>lazypay</string>
	<string>simpl</string>
	<string>zestmoney</string>
	<string>olamoney</string>
	<string>flipkart</string>
	<string>myjio</string>
	<string>rblbank</string>
	<string>scbank</string>
	<string>dbsbank</string>
	<string>aubank</string>
	<string>bandhanbank</string>
	<string>csbbank</string>
	<string>dcbbank</string>
	<string>idbibank</string>
	<string>indianbank</string>
	<string>iob</string>
	<string>kvb</string>
	<string>sib</string>
	<string>tjsbbank</string>
	<string>ucobank</string>
	<string>vijayabank</string>
	</array>

</dict>
</plist>
